.ReactCodeMirror .CodeMirror {
    height: 100%;
}

.ReactCodeMirror  {
    height: 100%;
    border-right: 0.2rem solid #ccc;
}

.Viewer .Pane {
    border-bottom: 0.2rem solid #ccc;
}

.Viewer .Code{
    height: 100%;
}

.Error {
    color: #FF0000;
}

.Code pre {
    height: 100%;
    margin: 0;
}

.Code pre code{
    height: 100%;
    padding: 0;
}